body{
	/*background-color: skyblue;*/ 
	/*-webkit-box-shadow: 10px 10px 5px #888888;*/
	box-shadow: inset 0 0 490px black;
}


h2 {

	color:blue;
}

img {

	width: 200px;
	height: 200px;
	float: right;
	transform:rotate(-7deg);
	-webkit-box-shadow: 0 0 5px 2px #282a2d;
	}
td{

border-left: 2px solid black;

}

table{

	margin-left: 80px;

}

